# Compiled Object files
*.slo
*.lo
*.o
*.exe
*.ilk
*.pdb
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Visual Studio files
*.filters
*.user
*.sdf
*.suo
*.log
*.tlog
*.lastbuildstate
*.idb

*.cd